:root {
  --grey: #e8eaed;
  --main-color: rgb(33 185 209);
  --white: white;
  --green: #57de32;
  --grey-text: #5f5f5f;
  --sidebar-items: #ffffff;
}

body {
  font-family: 'Roboto', Helvetica, arial, sans-serif;
  background: var(--grey);
}

p {
  margin: 0;
}

svg, img {
  flex: none;
}

img {
  background: var(--green);
}

.wrapper {
  height: 100svh;
  display: grid;
  grid-template-areas:
  'sidebar header'
  'sidebar content';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

@media(max-width: 765px) {
  .description {
    display: none;
  }

  .item-group {
    justify-items: center;
  }
}

.sidebar {
  background: var(--main-color);
  grid-area: sidebar;
  display: grid;
  align-content: start;
  padding: 15px;
  gap: 50px;

  overflow: auto;
}

@media(max-width: 426px) {
  .sidebar {
    padding: 0;
    gap: 0;
  }

  div.brand {
    margin-bottom: 35px;
  }
}

.icon, .description {
  cursor: pointer;
}

.item-group {
  display: grid;
  gap: 13px;
}

div.brand {
  gap: 5px;
}

div .brand-logo {
  width: 40px;
  height: auto;
}

a.brand-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  width: 23px;
  height: 23px;
  fill: var(--sidebar-items);
}

.description {
  color: var(--sidebar-items);
  text-decoration: none;
  font-weight: bold;
}



.header {
  grid-area: header;
  background: var(--white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.078);
  padding: 10px 30px;

  display: grid;
  gap: 30px;
}

.header__superior {
  display: flex;
  justify-content: space-between;
  gap: 8px 40px;

}

@media(max-width: 470px) {
  .header__superior {
    flex-wrap: wrap-reverse;
    justify-content: start;
  }

  div.header__inferior {
    justify-content: start;
  }

  img.inferior__picture {
    display: none;
  }

  header.header {
    gap: 15px;
  }
}

.header__input {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 15px;
  max-width: 700px;
}

.header__input svg {
  width: 25px;
  height: 25px;
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
}

.header__input input{
  background: var(--grey);
  border: none;
  border-radius: 50px;
  height: 25px;
  width: 80px;
  padding: 0 10px;
  font-size: 0.8rem;
  flex: 1;
}

.header__inbox {
  justify-self: end;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;

}

.header__bell {
  width: 22px;
  height: 22px;
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
}

.header__profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
}

.header__user-name {
  margin: 0;
  font-size: .9rem;
  width: max-content;
  font-weight: bold;
  cursor: pointer;
}


.header__inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 5px;
}

@media(max-width: 665px) {
  .header__inferior {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  .header {
    gap: 20px;
  }
}

.inferior__left {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media(max-width: 450px) {
  div.inferior__right {
    flex-wrap: wrap;
  }
  .inferior__right > * {
    flex: 1;
  }

}

.inferior__picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top right;
}

.inferior__title {
  display: grid;
  gap: 7px;
}

.title__top {
  font-size: .7rem;
  width: max-content;
}

.title__bottom {
  font-size: 1rem;
  font-weight: bold;
  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.inferior__right {
  display: flex;
  gap: 15px;
}

.inferior__right button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  padding: 6px 25px;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
}

.content {
  grid-area: content;
  display: grid;
  gap: 20px;
  grid-template-areas:
  'projects aside';
  grid-template-columns: 1fr 240px ;
  padding: 30px 20px;
  overflow: auto;
  will-change: transform;
}


@media (max-width: 1082px) {
  section.aside {
    display: none;
  }
  main.content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  section.grid {
    grid-template-columns: repeat(auto-fit, minmax(min(38vw ,200px), 1fr));
  }
}


.projects, .aside {
  display: grid;
  gap: 10px;
  align-content: start;

}

.projects {
  grid-area: projects;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(30vw, 270px), 1fr));
}

.grid-card {
  background: var(--white);
  border-radius: 7px;
  padding: 15px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.078);
  border-left: 8px solid var(--green);
  display: grid;
  gap: 15px;
  align-content: space-between;
}

.card-content {
  display: grid;
  gap: 10px;
}

.content-top {
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
}

.content-bottom {
  font-size: .75rem;
  line-height: 1.4;
  color: var(--grey-text);
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.card-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.aside-cards {
  display: grid;
  gap: 20px;
}

.label {
  font-weight: bold;
  font-size: 1.1rem;
}

hr {
  margin: 0;
}

.aside-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.168);

  display: grid;
  gap: 16px;
}

.aside-card-section {
  display: grid;
  gap: 8px;
}

.aside-card-label {
  font-weight: bold;
  font-size: .9rem;
}


.aside-card-text {
  font-size: .7rem;
  line-height: 1.5;
  color: var(--grey-text);
}


.trending {
  display: grid;
  gap: 8px;
}

.trending-card-section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trending-text {
  display: grid;
  gap: 5px;
}

.trending-up {
  font-size: .9rem;
  cursor: pointer;
}

.trending-down {
  color: var(--grey-text);
  font-size: .7rem;
}